table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; /
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

th, td {
    border: 1px solid #dddddd;
    background-color: #6e6969;
    text-align: left;
    padding: 8px;
    color: rgb(233, 227, 227);
}

th {
    background-color: #6e6969;
}
.bach-home{
    text-decoration: none; 
    color: rgb(97, 59, 59);
    font-size: 30px;

}
h2{
   color:  rgb(97, 59, 59);
}